@media only screen and (max-width: 500px) {

  .container {
    padding: 0;
  }

  header .full {
    display: none;
  }

  header {
    padding: 0;
  }

  header nav {
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0 24px;
  }

  header nav li {
    padding: 0 24px;
  }

  header nav .mobile {
    display: inline-block;
  }

  .featured {
    flex-direction: column;
  }

  .featured .banner {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .featured .banner img {
    height: auto;
  }

  .featured .headline {
    text-align: left;
    width: 100%;
    padding: 32px 16px;
  }

  .featured .headline h1 {
    font-size: 2rem;
  }

  .featured .headline h3 {
    font-size: 1.3rem;
  }

  .featured .headline .btn {
    font-size: 1.2rem;
    width: 90%;
  }

  .info {
    width: 100%;
  }

  .info .story {
    display: none;
  }

  .info .full {
    display: none;
  }

 .info .sidebar {
   width: 100%;
 }

 .info .sidebar .tile {
   padding: 16px;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   background-color: #99A3A4;
 }

 .info .sidebar .tile:nth-child(2n + 1) {
   background-color: #EAEDED;
 }

 .info .mobile {
   display: block;
 }

 .info .sidebar .tile .info-img {
   width: 100%;
   display: block;
 }

 .info .sidebar .tile .info-img img {
   padding: 0;
 }

 .info .sidebar .tile .info-text {
   padding: 32px 0;
   width: 100%;
   display: block;
 }

 .info .sidebar .tile .info-text p {
   color: #A93226;
   font-weight: bold;
 }

  .info .sidebar .tile .info-text p:hover {
   color: #F54937;
}
