body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
}

.container {
  display: flex;
  padding: 32px 24px;
  position: relative;
  top: 64px;
}

/** Header **/
header {
  height: 64px;
  padding: 0 24px 0 24px;
  background-color: #EAEDED;
  color: #A93226;
  display: inline-flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  z-index: 5;
}

.masthead {
  display: inline-flex;
  align-items: center;
}

header img {
  height: 54px;
  padding-right: 5px;
  margin-right: 10px;
  border-right: 1px #A93226 solid;
}

header h1 {
  font-family: "Amiri", serif;
  font-size: 32px;
  font-weight: 400;
  display: inline;
}

header h1 span {
  font-weight: 700;
}

header nav {
  margin-right: 24px;
  padding-right: 24px;
  display: inline-flex;
  align-items: center;
}

header nav ul {
  list-style-type: none;
  display: inline;
}

header nav li {
  display: inline;
  padding-left: 16px;
  font-weight: bold;
}

header nav li:last-child {
  color: #661E17;
}

header nav li:hover {
  color: #E54434;
}

/** Featured **/
.featured {
  background-color: #A93226;
  flex-direction: row;
  justify-content: flex-start;
}

.featured .banner {
  width: 60%;
  margin-right: 32px;
}

.featured .banner img {
  width: 100%;
  height: 510px;
}

.featured .headline {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: left;
  width: 35%;
  padding: 100px 0;
  color: #EAEDED;
}

.featured .headline h1 {
  font-family: "Rock Salt", cursive;
  font-size: 44px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 24px;
}

.featured .headline h3 {
  font-size: 25px;
  line-height: 1.3;
  margin-bottom: 30px;
  width: 80%;
}

.featured .headline .btn {
  color: #A93226;
  background-color: #EAEDED;
  width: 75%;
  font-size: 24px;
  font-weight: bold;
  border: 1px #99A3A4 solid;
  border-radius: 3px;
  text-align: center;
  padding: 8px 0;
}

.featured .headline .btn:hover {
  background-color: #CB4335;
  color: #EAEDED;
  border: 1px #EAEDED solid;
}

/** Information **/
.info {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #EAEDED;
}

.info .story {
  width: 60%;
  padding-right: 24px;
}

.info .story img {
  max-width: 100%;
}

.info .story h2 {
  color: #212F3D;
  font-size: 32px;
  font-weight: bold;
  padding: 32px 0 24px 0;
}

.info .story h4 {
  line-height: 1.5;
  font-size: 1.1rem;
  width: 90%;
}

.info .story p {
  font-size: .9rem;
  padding-top: 24px;
}

.info .sidebar {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info .sidebar .tile {
  display: flex;
  flex-direction: row;
}

.info .sidebar .tile .info-img {
  width: 35%;
}

.info .sidebar .tile .info-img {
  max-width: 100%;
}
